header{
color: #63b7e6;
font-family: sans-serif;
text-align: center;
margin: 50px 0px;
}

.flex-container{
    font-family: sans-serif;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 200px;
    height: 500px;
    text-align: center;
    color: grey
}

i{
    font-size: 40px;
}

.flex-item1,.flex-item2,.flex-item3{
    width: 300px;
    padding: 20px 40px;
}

.flex-container>.flex-item1:hover{
    cursor: pointer;
    box-shadow: 0px 0px 25px gray;
    
}

.flex-container>.flex-item2:hover{
    cursor: pointer;
    box-shadow: 0px 0px 25px gray;
}

.flex-container>.flex-item3:hover{
    cursor: pointer;
    box-shadow: 0px 0px 25px gray;
}

.flex-container>.flex-item1:hover i{
    color: #63b7e6;
}

.flex-container>.flex-item2:hover i{
    color: #63b7e6;
}

.flex-container>.flex-item3:hover i{
    color: #63b7e6;
}

.flex-container>.flex-item1:hover h3{
    color: #63b7e6;
}

.flex-container>.flex-item2:hover h3{
    color: #63b7e6;
}

.flex-container>.flex-item3:hover h3{
    color: #63b7e6;
}

.line{
    height: 2px;
    width: 60px;
    background-color: gray;
    margin: 0px auto;

}

.flex-container>.flex-item1:hover .line{
    width: 40px;
    transition: 300ms all;
}

.flex-container>.flex-item2:hover .line{
    width: 40px;
    transition: 300ms all;
}

.flex-container>.flex-item3:hover .line{
    width: 40px;
    transition: 300ms all;  
}