h1 {background-color: aqua ;    text-align: center; color: gray;}
p {background-color:   rgb(222, 184, 135);width: 150; height: 200; text-align: justify ;}
h2 {background-color: #006666; text-align: center; width: 550; height: 400; color: white; background-image: url(./WhatsApp\ Image\ 2022-08-28\ at\ 1.15.27\ PM.jpeg);
background-repeat: no-repeat; background-position: center; }